# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# IDEs
.idea/
*.sln
*.vcxproj
*.vcxitems
*.user
*.suo
*.filters
*.workspace
*.pworkspace
*.pjxml
*.pjp
*.pj
*.pjl
*.pjc

repository/
link/
backupSysEnv.txt